*{
    padding: 0;
    margin: 0;
}
.heading-container{
    display: flex;
    justify-content: center;
    margin-top: 55px;
}
.translator-heading{
    font-size: 48px;
}
.input{
    border: none;
background-color: transparent;
resize: none;
outline: none;
height: 400px;
width: 400px;
}
.container-translate-text{
    border: 1px solid;
    color: grey;
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-top: 100px;
}
.text-to-translated-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.translated-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-for-both-text-area{
    display: flex;
    justify-content: center ;
}